*{
    margin: 100;
    padding: 0;
}

body{
    font-family: Arial,sans-serif;
    font-size: 13px;
}

h1#logo{
    width: 32px;
    height: 32px;
    background:url('logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: 30px;
    margin: 0 auto;
}

