*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial,sans-serif;
    font-size: 13px;
}

h2#logo{
    width: 22px;
    height: 22px;
    background:url('logo.png');
    
    background-size: 100%;
    text-indent:20px;
    text-align:center;
    margin:0 auto;
    font-style: italic;
    
}

#container{
    background:rgb(155, 68, 182);
    text-align:center;
    font-family: Arial,sans-serif;
    text-: white;
    
    
    
}

input[type="text"]{
    width: 400px;
    padding: 10px;
    margin: 25px 0 18px;
    border: solid 1px #ccc;
    padding: 10px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;

}

input[type="submit"]{
        width:100px;
        padding:5px;
        border-radius: 5px;
        color: black;
    
    
}

input[type="submit"]:hover{
    cursor:pointer;
    color: red;

}

#main{
    width:200px;
    float:left;
    margin:0 0  0 100px;
    
    

}
#left{
    width:200px;
    float:right;
    margin:0 0 200px 100px;
}
#middle{
    width:200px;
    float:right;
    
}

.icon {
    color: rgb(155, 68, 182);
    padding: 15px;
    border-radius: 50%;
}

p{
    text-align: justify;

}

h2,h3,h4{
    color: white;
}

#para1{
    color: black;
}

#para2{
    color: black;
}

#para3{
    color: black;
}


